<.header>
  New Exploration
  <:subtitle>Use this form to create a new exploration.</:subtitle>
</.header>

<.simple_form :let={f} for={@changeset} action={~p"/new"}>
  <.error :if={@changeset.action}>
    Oops, something went wrong! Please check the errors below.
  </.error>

  <.input
    field={f[:city]}
    type="text"
    label="City"
    placeholder="Leave this blank to have the LLM pick a random city for you."
  />

  <p>
    (optional) If you're choosing a random 'city' by leaving the City field blank, you can optionally enter a few key words here to hint at the kind of place you want to choose.
  </p>
  <.input
    field={f[:key_words]}
    type="text"
    label="Key Words"
    placeholder="e.g. 'sunny', 'alps', 'french countryside', 'beaches' etc."
  />

  <:actions>
    <.button>Save Exploration</.button>
  </:actions>
</.simple_form>

<.back navigate={~p"/explorations/all"}>Back to explorations</.back>
