<div class="container mx-auto px-4 sm:px-6 lg:px-8 py-12">
  <h1 class="text-4xl font-bold mb-6">What is this?</h1>
  <p class="mb-6 text-lg leading-relaxed max-w-prose">
    This is a simple project that creates LLM-curated lists of places to visit in Google Streetview or Google Earth VR.
  </p>
  <p class="mb-6 text-lg leading-relaxed max-w-prose">
    We all tend to visit the same few places (and we know those places because they're so famous) -- Paris, London, New York City. But what about places you wouldn't think to visit?
  </p>
  <p class="mb-6 text-lg leading-relaxed max-w-prose">
    They can often be just as cool (or cooler) to see in Google earth VR.
  </p>
  <p class="mb-6 text-lg leading-relaxed max-w-prose">
    I wrote this little application to add another layer of interest for me -- it generates a plausible (but fake) character, a person who might really live in the selected location, and gives them a bit of backstory. Then it generates a list of the places this person is likely to work, visit, go out for drinks at, and otherwise hang out in during the normal course of their life.
  </p>
  <p class="mb-6 text-lg leading-relaxed max-w-prose">
    For me, it's been a way to see places I would never have thought to search for, and have a reason to visit cool spots in a given city that might actually be interesting to visit in my (real) travels.
  </p>
  <p class="mb-6 text-lg leading-relaxed max-w-prose">
    I guess you could use it for other stuff too, like generating inspiration for planning a real-world trip to less-traveled, less-expensive and over-touristy places in the world that have just as much to offer as the tourist hotspots.
  </p>
</div>
